:host {
  .field-wrapper {
    &:has(.ng-invalid.ng-dirty) .hint-wrapper {
      display: none;
    }
  }

  .field-wrapper.no-hint-on-leave {
    &:has(.ng-valid.ng-dirty:not(:focus)) .hint-wrapper {
      display: none;
    }
  }
}

.form-label.required {
  position: relative;

  &::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -0.75em;
  }
}
