@if (labels) {

  <form [formGroup]="upsertForm" (ngSubmit)="saveChanges()">
    <div class="modal-header">
      <h5 class="modal-title" id="addSellerLabel">{{ labels.label | translate }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="close()"></button>
    </div>

    <div class="modal-body d-flex flex-column gap-3">
      <app-form-control [label]="'Tag ID'">
        <input type="text"
               placeholder="1st connector id"
               [formControlName]="formControlNames.tagId">
      </app-form-control>

      <app-form-control [label]="'Parent tag ID'">
        <input type="text"
               placeholder="1st charger id"
               [formControlName]="formControlNames.parentTagId">
      </app-form-control>

      <app-form-control class="g-col-12 g-col-md-6" [label]="'Expired date'">
        <input
          class="form-control"
          type="text"
          [formControlName]="formControlNames.expiryDate"
          mwlFlatpickr
          [time24hr]="true"
          [convertModelValue]="true"
        >
      </app-form-control>
    </div>

    <div class="modal-footer">
      <div class="col-lg-12">
        <div class="hstack gap-2 justify-content-end">
          <button
            class="btn btn-link link-success text-decoration-none fw-medium"
            data-bs-dismiss="modal" (click)="close()">
            {{ 'base.buttons.close' | translate }}
          </button>
          <button
            [disabled]="upsertForm.invalid"
            type="submit"
            class="btn btn-primary"
          >
            <i class="align-bottom me-1" icon="save"></i>
            {{ labels.save | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
}
