@if ($vm(); as vm) {
  @if (vm.depot; as depot) {

    <app-breadcrumbs [title]="depot.name" [breadcrumbItems]="[]"></app-breadcrumbs>

    <div class="row mb-4">
      <div class="col-12 col-xxl-5">
        <div class="row row-cols-md-2">
          @for (stats of vm.connectorStatuses | keyvalue; track stats.key) {
            @if ($any(stats.key) | connectorStatus; as statsConfig) {
              <div class="col">
                <app-stats-card
                  class="transition"
                  [class.opacity-50]="!stats.value"
                  [icon]="statsConfig.icon"
                  [label]="statsConfig.label | translate"
                  [value]="stats.value + ''"
                  [style]="statsConfig.style"
                ></app-stats-card>
              </div>
            }
          }
        </div>
      </div>

      <app-depot-energy-usage class="col-12 col-xxl-7" [depot]="depot" [energyUsage]="$vm().energyUsage"/>
    </div>
  }
}

<router-outlet/>
