<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a routerLink="" class="logo logo-light">
                        <span class="logo-sm">
                            <img ngSrc="assets/images/logo-sm.svg" alt="logo" height="50" width="50">
                        </span>
      <span class="logo-lg">
                            <img ngSrc="assets/images/logo.svg" alt="logo" height="70" width="160">
                        </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover"
            (click)="toggleMobileMenu($event)">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar" class="h-100">
    <div class="container-fluid h-100">
      <nav class="h-100">
        <ul class="metismenu list-unstyled navbar-nav" id="navbar-nav">
          <ng-container *ngFor="let item of $menuItems()">
            <li class="menu-title" *ngIf="item.isTitle">
              <span data-key="t-menu">{{ item.label | translate }}</span>
            </li>

            <li class="nav-item" *ngIf="!item.isTitle && !item.isLayout">

              @if (hasItems(item)) {
                <div class="collapse menu-dropdown">
                  <ul *ngIf="hasItems(item)" class="nav nav-sm flex-column" aria-expanded="false">
                    <li *ngFor="let subitem of item.subItems" class="nav-item">
                      <a [routerLink]="subitem.link"
                         routerLinkActive="active"
                         *ngIf="!hasItems(subitem)"
                         class="nav-link"
                         [attr.data-parent]="subitem.parentId"
                         (click)="updateActive($event)">
                        {{ subitem.label | translate }}
                        <span class="badge badge-pill {{subitem.badge.variant}}"
                              *ngIf="subitem.badge">{{
                            subitem.badge.text
                          }}</span>
                      </a>
                      <a *ngIf="hasItems(subitem)" class="nav-link" href="javascript:void(0);"
                         [attr.data-parent]="subitem.parentId" data-bs-toggle="collapse" aria-expanded="false"
                         (click)="toggleSubItem($event)">
                        {{ subitem.label | translate }}
                        <span class="badge badge-pill {{subitem.badge.variant}}"
                              *ngIf="subitem.badge">{{
                            subitem.badge.text
                          }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              } @else {
                <a [routerLink]="item.link" routerLinkActive="active" class="side-nav-link-ref nav-link menu-link"
                   (click)="toggleParentItem($event)">
                  @if (item.icon; as icon) {
                    <i [icon]="icon" class="icon nav-icon"></i>
                  }
                  <span> {{ item.label | translate }}</span>
                  <span class="badge badge-pill {{item.badge.variant}}" *ngIf="item.badge">{{
                      item.badge.text
                    }}</span>
                </a>
              }
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
    <!-- Sidebar -->
  </div>
  <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay" (click)="SidebarHide()"></div>
