<ev-list-control-bar
  [actions]="$actions()"
  (selectAction)="chargersFacade.handleBarAction($event)"
  (changeSearch)="chargersFacade.search($event)"
/>

<div class="tasks-board mb-3" id="kanbanboard">
  @for (charger of $chargers(); track charger.id) {
    <div class="tasks-list">
      <div class="d-flex mb-3">
        <div class="flex-grow-1">
          <h6 class="fs-14 text-uppercase fw-semibold mb-0">
            {{ charger.name || charger.id }}

            @if (charger.connectors | connectorImportantStatus | connectorStatus; as chargerStatus) {
              <small class="badge bg-{{chargerStatus.style}} align-bottom ms-1 totaltask-badge">{{ charger.connectors.length }}</small>
            }
          </h6>
        </div>

        <div class="flex-shrink-0">
          <div class="dropdown card-header-dropdown" ngbDropdown>
            <a class="text-body dropdown-btn arrow-none" href="javascript:void(0);" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                <span class="fw-medium text-muted fs-12">
                  <i icon="more_horiz" class="ms-1"></i>
                </span>
            </a>

            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              @for (action of chargersFacade.$actions().card; track action.value) {
                <button (click)="chargersFacade.handleCarAction(action.value, charger)"
                        ngbDropdownItem>{{ action.label | translate }}
                </button>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="tasklist-content">
        <div class="tasks">
          @for (connector of charger.connectors; track connector.id) {
            <div class="task">
              <ev-connector-card
                [connector]="connector"
                [actions]="$any(chargersFacade.$actions().connector)"
                (selectAction)="chargersFacade.handleConnectorAction($event.value, connector)"
              />
            </div>
          } @empty {
            @if ($loaders().connectors; as isLoading) {
              <ev-empty-results [isLoading]="isLoading"/>
            } @else {
              <div [style.max-width.px]="300" class="task">
                <div class="text-center">
                  <lord-icon src="https://cdn.lordicon.com/yspjfnoa.json"
                             trigger="in"
                             delay="2000"
                             colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px">
                  </lord-icon>

                  <h6 class="text-muted" [innerHtml]="'charger.list.empty-charger' | translate"></h6>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div><!--end tasks-list-->
  } @empty {
    <ev-empty-results [isLoading]="$loaders().chargers"/>
  }
</div>
