<form [formGroup]="form" (ngSubmit)="saveChanges()">
  @if ($charger(); as charger) {
    <section editableGroup>
      <div class="row">
        <div class="col-lg-12">
          <div class="card mt-n4 mx-n4 mb-n5">
            <div class="bg-primary-subtle">
              <div class="card-body pb-4 mb-5">
                <div class="row">
                  <div class="col-md">
                    <div class="row align-items-center">
                      <div class="col-md-auto">
                        <div class="avatar-md mb-md-0 mb-4">
                          <div class="avatar-title bg-white rounded-circle">
                      <span class="text-primary avatar-ms">
                         <img [ngSrc]="'assets/images/charger-icon.png'"
                              alt="charger icon"
                              class="avatar-sm"
                              width="30"
                              height="30"/>
                        <!--                        <i icon="ev_charger"></i>-->
                      </span>

                          </div>
                        </div>
                      </div><!--end col-->
                      <div class="col-md">
                        <editable (save)="saveChanges()" class="mb-2 d-block">
                          <h4 *viewMode
                              class="fw-semibold mb-0 lh-base"
                              id="ticket-title">{{ charger.name || charger.id }}</h4>

                          <app-form-control *editMode withRelativeError>
                            <input type="text"
                                   class="py-1"
                                   [placeholder]="charger.name ?? 'Charger Name'"
                                   [formControlName]="formControlNames.name"
                            >
                          </app-form-control>
                        </editable>

                        <div class="hstack gap-3 flex-wrap">
                          <div class="text-muted">
                            <i icon="emoji_transportation" class="align-bottom me-1"></i>
                            <span id="ticket-client">{{ $depot()?.name | emptyValue }}</span>
                          </div>

                          <div class="vr"></div>

                          <div class="text-muted">
                            Create Date:
                            <span class="fw-medium" id="create-date">{{ charger.createdAt | date }}</span></div>
                          <div class="vr"></div>

                          @if (charger.updatedAt | date; as updatedDate) {
                            <div class="text-muted">Updated Date:
                              <span class="fw-medium" id="due-date">
                            {{ updatedDate }}
                          </span>
                            </div>
                          }
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                  </div><!--end col-->

                  <div class="col-md-auto mt-md-0 mt-4">
                    <div class="hstack gap-1 flex-wrap" ngbDropdown>
                      <button type="button" class="btn py-0 fs-16 text-body arrow-none" id="settingDropdown"
                              data-bs-toggle="dropdown" ngbDropdownToggle>
                        <i class="ri-share-line"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="settingDropdown" ngbDropdownMenu>
                        <li><a class="dropdown-item" href="javascript:void(0);"><i
                          class="ri-eye-fill align-bottom me-2 text-muted float-start"></i>
                          View</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);"><i
                          class="ri-share-forward-fill align-bottom me-2 text-muted float-start"></i>
                          Share with</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);"><i
                          class="ri-delete-bin-fill align-bottom me-2 text-muted float-start"></i>
                          Delete</a></li>
                      </ul>
                      <button type="button" class="btn py-0 fs-16 text-body">
                        <i class="ri-flag-line"></i>
                      </button>
                    </div>
                  </div><!--end col-->
                </div><!--end row-->
              </div><!-- end card body -->
            </div>
          </div><!-- end card -->
        </div><!-- end col -->
      </div><!-- end row -->
      <div class="row">
        <div class="col-xxl-8">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title mb-0">Charger Description</h5>
            </div>

            <div class="card-body">

              <editable (save)="saveChanges()" class="mb-2 d-block">
                <p *viewMode class="text-muted">{{ charger.description | emptyValue }}</p>

                <app-form-control *editMode withRelativeError>
                <textarea type="text"
                          [placeholder]="charger.description ?? 'Some details about the charger'"
                          [formControlName]="formControlNames.description"
                ></textarea>
                </app-form-control>
              </editable>

            </div><!--end card-body-->
          </div><!--end card-->

          <div
            dndDropzone
            dndEffectAllowed="uninitialized"
            (dndDrop)="removeProfile($event)"
            class="row mb-3">
            <h5 class="col-12">{{ 'Connectors' }}</h5>

            <div class="dndPlaceholder" dndPlaceholderRef>
              <ev-connector-card
                class="opacity-25"
                [connector]="$connectorPlaceholder()"
              />
            </div>
            @for (connector of charger.connectors; track connector.id) {
              <div class="col-6 col-xl-4"
                   [dndDraggable]="connector"
                   dndEffectAllowed="copyMove"
                   (dndStart)="updateCurrentConnector(connector)"
              >
                <ev-connector-card
                  [connector]="connector"
                  [actions]="$any(chargerFacade.$actions().connector)"
                  (selectAction)="chargerFacade.handleConnectorAction($event.value, connector)"
                />
              </div>
            } @empty {
              <div class="w-100 text-center">
                <lord-icon src="https://cdn.lordicon.com/yspjfnoa.json"
                           trigger="in"
                           delay="2000"
                           colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px">
                </lord-icon>
                <h6 class="text-muted" [innerHtml]="'charger.list.empty-charger' | translate"></h6>

              </div>
            }
          </div>
        </div><!--end col-->

        <div class="col-xxl-4">
          <div class="card">
            <div class="card-header cursor-pointer" (click)="isDetailsCollapsed = !isDetailsCollapsed">
              <h5 class="card-title mb-0">Charger Station Details</h5>
            </div>
            <div class="card-body" [(ngbCollapse)]="isDetailsCollapsed">
              <div class="table-responsive table-card">
                <table class="table table-borderless align-middle mb-0">
                  <tbody>

                    @for (details of charger | chargerDetails; track details.value) {
                      <tr>
                        <td class="fw-medium">{{ details.label | translate }}</td>
                        <td><span>{{ details.value | emptyValue }}</span></td>
                      </tr>
                    }

                  </tbody>
                </table>
              </div>
            </div><!--end card-body-->
          </div><!--end card-->
        </div>

        <div class="col-12">
          <ev-list-control-bar
            class="mb-3"
            [actions]="$profileActions().bar"
            (selectAction)="handleProfileAction($event)"
            (changeSearch)="search($event)"
          ></ev-list-control-bar>

          <div class="tasks-board mb-3" id="kanbanboard">
            @for (profile of $profiles(); track profile.id) {
              <div class="tasks-list">
                <div class="d-flex mb-3">
                  <div class="flex-grow-1">
                    <h6 class="fs-14 text-uppercase fw-semibold mb-0">
                      {{ profile.name }}

                      @if (charger.connectors | connectorImportantStatus | connectorStatus; as chargerStatus) {
                        <small class="badge bg-{{chargerStatus.style}} align-bottom ms-1 totaltask-badge">{{ charger.connectors.length }}</small>
                      }
                    </h6>
                  </div>

                  <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown" ngbDropdown>
                      <a class="text-body dropdown-btn arrow-none" href="javascript:void(0);" data-bs-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                <span class="fw-medium text-muted fs-12">
                  <i icon="more_horiz" class="ms-1"></i>
                </span>
                      </a>

                      <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        @for (action of $profileActions().card; track action.value) {
                          <button (click)="handleProfileAction(action.value, profile)"
                                  type="button"
                                  ngbDropdownItem>{{ action.label | translate }}
                          </button>
                        }
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tasklist-content">
                  <div dndDropzone
                       [dndHorizontal]="true"
                       (dndDrop)="dropConnector($event, profile.id)"
                       class="tasks py-2">
                    <div class="dndPlaceholder" dndPlaceholderRef>
                      <ev-connector-card
                        class="opacity-25"
                        [connector]="$connectorPlaceholder()"
                      />
                    </div>
                    @for (connector of profile.connectors; track connector.id) {
                      <div class="task"
                           (dndStart)="updateCurrentConnector(connector)"
                           [dndDraggable]="getConnectorWithProfile(connector, profile.id)" dndEffectAllowed="move">
                        <ng-container *ngTemplateOutlet="ConnectorContent; context: { connector:connector }"></ng-container>
                      </div>
                    } @empty {
                      <div [style.max-width.px]="300" class="task">
                        <div class="text-center">
                          <lord-icon
                            src="https://cdn.lordicon.com/genehuty.json"
                            trigger="hover"
                            colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px">
                          </lord-icon>
                          <h6 class="text-muted" [innerHtml]="'profile.empty-profile' | translate"></h6>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div><!--end tasks-list-->
            } @empty {
              <ev-empty-results class="w-100 text-center" [isLoading]="$isLoading()"/>
            }
          </div>

        </div>
        <!--end col-->
      </div><!--end row-->
    </section>
  }
  <ng-template #ConnectorContent let-connector="connector">
    <div class="tasks-box">
      <ev-connector-card
        [connector]="connector"
        [actions]="$any(chargerFacade.$actions().connector)"
        (selectAction)="chargerFacade.handleConnectorAction($event.value, connector)"
      />
    </div>
  </ng-template>
</form>
