<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Reservations"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-xl-12">
        <div class="card card-h-100">
          <div class="card-body">
            <full-calendar
              #calendar
              [options]="options"></full-calendar>
          </div>
        </div>
      </div><!-- end col -->
    </div>
    <!--end row-->

    <div style='clear:both'></div>
  </div>
</div> <!-- end row-->
