<!-- Start Breadcrumbs -->
<app-breadcrumbs title="OCPP Tags"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <ev-list-control-bar
      [actions]="$actions() | actionPlacement: 'bar'"
      (changeSearch)="facade.search($event)"
      (selectAction)="facade.handleAction($event, null)"
    />
  </div>

  <div class="col-lg-12">
    <div class="card" id="leadsList">
      <div class="card-body">
        <div>
          <div class="table-responsive table-card">
            <table class="table">
              <thead>
              <tr class="bg-light text-muted">
                <th class="sort">{{ 'ocpp-tags.id' | translate }}</th>
                <th>{{ 'ocpp-tags.parent-tag' | translate }}</th>
                <th>{{ 'ocpp-tags.expiration' | translate }}</th>
                <th>{{ 'ocpp-tags.status' | translate }}</th>
                <th data-sort="action">{{ 'ocpp-tags.actions' | translate }}</th>
              </tr>
              </thead>
              <tbody>
                @for (tag of facade.$vm().entities; track tag.id) {
                  <tr>
                    <td>
                      {{ tag.tagId }}
                    </td>
                    <td>
                      {{ tag.parentTagId | emptyValue }}
                    </td>
                    <td>
                      {{ tag.expiryDate | date }}
                    </td>
                    <td>
                      <span class="text-capitalize" [badge]="tag.blocked ? 'danger' : 'success'">
                        {{
                          (tag.blocked ? 'base.statuses.blocked' : 'base.statuses.active') | translate
                        }}
                      </span>
                    </td>
                    <td>
                      <div ngbDropdown class="dropdown" container="body">
                        <button ngbDropdownToggle
                                class="btn btn-soft-secondary dropdown-toggle btn-sm dropdown" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                          @for (action of ($actions() | actionPlacement : 'item'); track action.value) {
                            <button (click)="facade.handleAction(action.value, tag)"
                                    ngbDropdownItem>{{ action.label | translate }}
                            </button>
                          }
                        </div>
                      </div>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="100">
                      <ev-empty-results [isLoading]="facade.$vm().isLoading" emptyIcon="rbztokoj"/>
                    </td>
                  </tr>

                }
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--end col-->
</div>
<!--end row-->
