<!-- Start Breadcrumbs -->
<app-breadcrumbs [title]="'users.title' | translate"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <ev-list-control-bar
      [actions]="$actions() | actionPlacement: 'bar'"
      (changeSearch)="facade.search($event)"
      (selectAction)="facade.handleAction($event, null)"
    />
  </div>

  <div class="col-lg-12">
    <div class="card" id="leadsList">
      <div class="card-body">
        <div>
          <div class="table-responsive table-card">
            <table class="table">
              <thead>
              <tr class="bg-light text-muted">
                <th class="sort">{{ 'auth.labels.full-name' | translate }}</th>
                <th class="sort">{{ 'base.labels.email' | translate }}</th>
                <th>{{ 'auth.role.title' | translate }}</th>
                <th class="sort">{{ 'base.labels.last-update' | translate }}</th>
                <th>{{ 'base.labels.actions' | translate }}</th>
              </tr>
              </thead>
              <tbody>
                @for (user of $vm().entities; track user.id) {
                  <tr>
                    @if (user.image; as image) {
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0">
                            <img [ngSrc]="image" width="20" height="20" alt=""
                                 class="avatar-xxs rounded-circle image_src object-fit-cover">
                          </div>
                          <div class="flex-grow-1 ms-2 name">
                            <span> {{ user.firstName | emptyValue }} </span>
                            <span> {{ user.lastName | emptyValue }} </span>
                          </div>
                        </div>
                      </td>
                    }

                    <td>
                      <span> {{ user.email | emptyValue }} </span>
                    </td>

                    <td>
                      {{ user.roles | role | translate | emptyValue }}
                    </td>

                    <td>
                      {{ user.updatedAt | date }}
                    </td>

                    <td>
                      <ul class="list-inline hstack gap-2 mb-0">
                        @for (action of ($actions() | actionPlacement: 'item'); track action.value) {
                          <li class="list-inline-item edit cursor-pointer"
                              (click)="facade.handleAction(action.value, user)"
                              [ngbTooltip]="action.label | translate"
                              placement="top"
                          >
                            <span class="text-muted" [icon]="action.data.icon"></span>
                          </li>
                        }
                      </ul>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="100">
                      <ev-empty-results [isLoading]="$vm().isLoading"/>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--end col-->
</div>
<!--end row-->
