<div class="row">
  <div class="col-xxl-9">
    <div class="row job-list-row" id="companies-list">
      @if ($view() === 'details') {
        @for (poll of $vm().polls;track poll.id) {
          <div class="col-xxl-3 col-md-6">
            <div class="card companiesList-card">
              <div class="card-body">
                @if (poll.thumbnail;as image) {
                  <div class="avatar-sm mx-auto">
                    <div class="avatar-title bg-light rounded">
                      <img [width]="24"
                           [height]="24"
                           ngSrc="{{image}}"
                           alt=""
                           class="rounded avatar-xxs companyLogo-img">
                    </div>
                  </div>
                }
                <div class="text-center">
                  <h5 class="mt-3 company-name">{{ poll.question }}</h5>
                  <p class="text-muted industry-type">Votes: {{ poll.totalVotes || 0 }}</p>
                </div>
                <div>
                  <button type="button" class="btn btn-soft-primary w-100 viewcompany-list"
                          (click)="setPoll(poll.id)">
                    See details 👀
                  </button>
                </div>
              </div>
            </div>
          </div>
        }
      } @else {
        <app-newjob (pollCreated)="toggleView()"/>
      }

    </div>
  </div>

  <div class="col-xxl-3">
    @if ($banner();as banner) {
      <div class="card overflow-hidden shadow-none">
        <div class="card-body bg-{{banner.style}}-subtle">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <div class="avatar-sm">
                <div class="avatar-title bg-{{banner.style}}-subtle text-{{banner.style}} rounded-circle fs-17">
                  <i class="ri-gift-line"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1 ms-2">
              <h6 class="fs-16">{{ banner.title }}</h6>
              <p class="text-muted mb-0">Follow the next button 👉</p>
            </div>
            <div>
              <button (click)="toggleView()" class="btn btn-{{banner.style}}">{{ banner.button }}</button>
            </div>
          </div>
        </div>
      </div>
    }

    @if ($vm().selectedPoll;as poll) {
      <div class="card" id="company-overview">
        <div class="card-body">
          @if (poll.thumbnail;as image) {
            <div class="avatar-lg mx-auto mb-3">
              <div class="avatar-title bg-light rounded">
                <img [width]="48" [height]="48" ngSrc="{{image}}" alt="" class="avatar-sm rounded company-logo">
              </div>
            </div>
          }

          <div class="text-center">
            <h5 class="overview-companyname">{{ poll.question }}</h5>
            <p class="text-muted overview-industryType">{{ 'quiz' }}</p>
          </div>
        </div>

        <div class="card-body">
          <h6 class="text-muted text-uppercase fw-semibold mb-3">description</h6>
          <p class="text-muted mb-4 overview-companydesc">{{ poll.description }}</p>

          <div>
            @if (voteForm.enabled) {
              <label class="form-label">Left your voice below</label>

              <form (ngSubmit)="vote()" [formGroup]="voteForm" class="row">
                <div class="col-md-12 mb-2">
                  @for (option of poll.options;track option) {
                    <div class="form-check mb-2">
                      <input class="form-check-input"
                             type="radio"
                             [value]="$index"
                             formControlName="selected"
                             id="flexRadioDefault{{$index}}">
                      <label class="form-check-label" for="flexRadioDefault{{$index}}">
                        {{ option }}
                      </label>
                    </div>
                  }
                </div>

                <div class="col-md-12">
                  <button [class.disabled]="voteForm.invalid" type="submit" class="btn btn-primary w-100">Vote</button>
                </div>
              </form>
            } @else {
              <div class="apex-charts">
                <apx-chart [series]="$any(poll.results)" [labels]="$any(poll!.options!)"
                           [chart]="simpleDonutChart.chart" [plotOptions]="simpleDonutChart.plotOptions"
                           [dataLabels]="simpleDonutChart.dataLabels" [legend]="simpleDonutChart.legend"
                           [stroke]="simpleDonutChart.stroke" [yaxis]="simpleDonutChart.yaxis"
                           [colors]="simpleDonutChart.colors" dir="ltr"></apx-chart>
              </div>

              <div class="table-responsive mt-3">
                <table class="table table-borderless table-sm table-centered align-middle table-nowrap mb-0">
                  <tbody class="border-0">
                    @for (result of poll.results;track result) {
                      <tr>
                        <td>
                          <h4 class="text-truncate fs-14 fs-medium mb-0">{{ poll.options![$index] }}</h4>
                        </td>
                        <td>
                          <p class="text-muted mb-0">
                            {{ result }}
                          </p>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
